<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated GrapeLModel -->
      <package
            uri="platform:/resource/grapelmodel/model/GrapeLModel.ecore"
            class="GrapeLModel.GrapeLModelPackage"
            genModel="model/GrapeLModel.genmodel"/>
   </extension>

</plugin>
